*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Exo" , sans-serif;
}
:root{
    --primary-color: #FF782D;
    --secondary-color:#555555;
    --secondary-font:"Jost", sans-serif;
}
/* Utility Buttons */
.btn-primary{
    width:170px;
    height:48px;
    border:none;
    border-radius:24px;
    background-color: var(--primary-color);
    color:#fff;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary:hover{
    background-color:white;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-secondary{
    width:161px;
    height:48px;
    border: 1px solid #9D9D9D;
    border-radius:24px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.btn-secondary:hover{ 
    background-color:var(--primary-color);
    color:white;
    border: 1px solid#9D9D9D;
}
/* ========================= Navbar ========================== */
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 72px;
    background-color: #fff;
    z-index: 4;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 26px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    cursor: pointer;
}
nav ul li a:hover {
    color: var(--primary-color);
    background-color: #f5f5f5; 
    border-radius: 6px; 
}
.list-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.border-icon {
    width: 44px;
    height: 44px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .bars {
    display: none;
    cursor: pointer;
}
nav ul li a {
    padding: 22px 14px;
    transition: background-color 0.3s ease; 
}
/* Dropdown */
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; 
    min-width: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 8px 0;
    z-index: 999;
    flex-direction: column;
}
.dropdown-menu li {
    padding: 0;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 16px;
    white-space: nowrap;
}
.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
.dropdown:hover .dropdown-menu {
    display: flex;
}
.breadcrumb-bar {
    position: fixed;
    top:64px; 
    left: 0;
    width: 100%;
    height:55px; ;
    background-color: #f5f5f5;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 70px;
    font-size: 14px;
    z-index: 1;
}
.breadcrumb-bar p ,.breadcrumb-bar span{
    color:#555555;
}
.breadcrumb-bar a {
    color: #9D9D9D;
    text-decoration: none;
    font-weight: 500;
}
.breadcrumb-bar a:hover {
    text-decoration: underline;
}
/* ========================= Mobile Menu ========================== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: height 0.4s ease;
    z-index: 9999;
}
.mobile-menu.open {
    height: 100vh;
} 
.menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}
.menu-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.close-btn {
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 40px;
    width: 100%;
}
.mobile-menu li a {
    width: 100%;
    text-align: left;
    padding: 20px 0 20px 35px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease, color 0.3s ease;
}
.mobile-menu li a:hover {
    background-color: #f0eded;
    color: var(--primary-color);
}
.mobile-menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
}
.login-btn{
    text-align: center;
    margin: 20px 0;
}
.login-btn a {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 18px;
    transition: background 0.3s ease;
}
/* ========================= Hero Section ========================== */
.hero{
    position: relative;
    z-index: 1;
    top: 72px;
    background-image:url(./../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 577px;
    display: flex;
    align-items: flex-start;
}
.hero .description{
    padding:157px 70px 0;
    max-width:520px;
}
.hero h1{
    max-width:520px;
    font-size:48px;
    font-weight:600;
    color:#000;
}
.hero p{
    font-size:18px;
    max-width:520px;
    color:var(--secondary-color);
    margin:24px 0 20px;
    font-family:var(--secondary-font);
}
/* ========================= sections ======================== */
.section-padding{
    padding: 70px;
}
.section-padding-extra{
    padding: 170px 70px  70px;
}
/* ========================= Categories Section Styling ======================== */
#Categories {
    background-color: #f9f9f9;
}
#Categories .text {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
#Categories .text .title h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}
#Categories .text .title p {
    width: 259px;
    color: var(--secondary-color);
    font-size: 18px;
    padding-top: 12px;
    font-family: var(--secondary-font);
}
.h-container {
    padding-top: 56px;
}
#Categories .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
#Categories .card .card-item {
    width: 234px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 57px 0;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#Categories .card .card-item:hover {
    box-shadow: 4px 4px 10px #0000001A;
    transform: translateY(-5px);
}
#Categories .card .card-item h3 {
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease;
}
#Categories .card .card-item:hover h3 {
    color: var(--primary-color);
}
#Categories .card .card-item p {
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}
/* Buttons */
.desktopbtn {
    display: inline-block;
}
.mobilebtn {
    display: none;
}
/* ========================= Featured Courses Section ========================== */
/* title*/
#Featured-courses .text , #plog .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding-bottom: 50px;
}
#Featured-courses .text .title ,
#plog .title {
    flex: 1;
}
#Featured-courses .text .title h2,
#plog .title h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}
#Featured-courses .text .title p {
    width: 259px;
    color: var(--secondary-color);
    font-size: 18px;
    padding-top: 12px;
    font-family: var(--secondary-font);
}
/*button desktop*/
#Featured-courses .desktopbtn {
    display: inline-block;
}
/* Cards */
#Featured-courses .box,
#plog .articles {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
#Featured-courses .box .box-item ,
#plog .articles .article-card {
    width: 345px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#Featured-courses .box-item .course {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#Featured-courses .box-item .bg-black {
    position: absolute;
    top: 20px;
    left: 32px;
    color: #fff;
    border-radius: 8px;
    background-color: #000;
    padding: 5px 10px;
}
#Featured-courses .box-item p {
    padding: 20px;
    font-family: var(--secondary-font);
}
#Featured-courses .box-item span {
    color: #555555;
}
#Featured-courses .box-item .main {
    padding-left: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
#Featured-courses .box-item .details {
    display: flex;
    padding: 20px;
    gap: 20px;
}
#Featured-courses .box-item .info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-top: 1px solid #EAEAEA;
}
#Featured-courses .box-item .info span {
    color: #55BE24;
    font-size: 18px;
}
#Featured-courses .box-item .info a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-family: var(--secondary-font);
    cursor: pointer;
}
/* Search Menu */
.search-menue {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.search-menue input {
    width: 270px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-family: var(--secondary-font);
}
.search-menue input::placeholder {
    color: #777;
    font-size: 18px;
}
.search-menue .icon {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
}
.search-menue .icon:hover {
    color: var(--primary-color);
}
/* Navigation */
.navigation {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.navigation .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navigation .item:hover {
    background-color: #000;
    color: #fff;
}
/* mobile button*/
.mobilebtn {
    display: none;
}
/* ========================= LearnPress Section ========================== */
#LearnPress {
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    color: #000;
}
/* Content section*/
#LearnPress .container {
    width: 90%;
    padding: 40px 30px;
    background-image: url('./../img/learn.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}
#LearnPress .container .text{
    text-align: left;
    margin: 0;
    max-width: 666px; 
}
#LearnPress .container .text p {
    max-width: 444px;
    color: var(--secondary-color);
    font-size: 16px;
    margin: 0;
}
#LearnPress .container .text h3 {
    font-size: 32px;
    font-weight: 600;
    margin: 12px 0 24px;
}
#LearnPress .container .text p.bold {
    font-size: 18px;
    margin-bottom: 20px;
}
/* Button */
#LearnPress .container .btn {
    margin-top: 20px;
}
/* ========================= Addons Section Styling ========================== */
#addons .add-items{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
#addons .add-items .add-item{
    width:284px;
    border-radius:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:16px;
    padding:40px 0;
    background-color: #F5F5F5;
}
#addons .add-items .add-item h3{
    font-size:32px;
    font-weight: 600;
    color:var(--primary-color);
}
#addons .add-items .add-item p{
    font-size:18px;
    font-weight:500;
    font-family:var(--secondary-color);
}
/* ========================= section Skills styling ========================== */
#skills{
    padding:70px 20px;
}
#skills .container{
    display:flex;
    max-width: 88%;
    gap:33px ;
    margin: 0 auto;
}
#skills .left-conten img{
    width:433px ; 
    margin-right: 22px; ;
}
#skills .container .right-conten h3{
    max-width:420px;
    font-size:34px;
    font-weight: 600;
    padding-bottom:24px ;
}
#skills .container .right-conten p{
        max-width:520px;
        font-size:18px;
        font-weight: 400;
        font-family:var(--secondary-font);
        padding-bottom: 16px;
        color:var(--secondary-color);
}
#skills .container .right-conten .true{
    padding:8px;
    }
#skills .container .right-conten .true span{
    font-size:18px;
    font-family:var(--secondary-font);
    color:#000;
}
#skills .container .right-conten .btn{
    margin-top:20px;
    }
/* ========================= Profile Section styling ========================== */
.Academy-lMS{
    position: relative;
    margin: 0 70px;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-image: linear-gradient(to right,#C7E6F9,#E8D1FE);
    z-index: 2;
    }
.Academy-lMS .banner-bg{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        
    }
.Academy-lMS .continer{
        padding: 65px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.Academy-lMS .continer  .left-content{
        display: flex;
        align-items: center;
        gap: 32px;
    }
.continer  .left-content  .image{
        width: 120px;
        height: 120px;
        border-radius: 60px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        }
.Academy-lMS h4{
        font-size: 20px;
        font-weight: 600;
        font-family: "Exo", sans-serif;
        text-align: center;
    }

.Academy-lMS .right-content{
        display: flex;
        align-items: center;
        gap: 20px;
}
/* ========================= section information styling ==================== */
#information {
    background-color: #F5F5F5;
}
#information .info-cont{
    display: flex;
    justify-content: space-between;
}
#information .descrption img{
    padding-bottom:32px ;
}
#information .descrption p{
    padding-bottom:22px;
    max-width:341px;
    font-size: 18px;
    color:var(--secondary-color);
    font-family: var(--secondary-font);
}
#information h3{
    padding-bottom:22px;
    padding-right:22px;
    font-weight:600;
    font-size:20px;
}
#information .help ul ,
#information .programs ul{
    list-style:none;
}
#information .help ul li ,
#information .programs ul li{
    padding-bottom:28px;
    color:var(--secondary-color);
    font-family:var(--secondary-font);
}
#information .help ul li:hover ,
#information .programs ul li:hover{
    color:var(--primary-color);
}
#information  .contact p{
    color:var(--secondary-color);
    font-size:18px;
    max-width:340px;
    font-family:var(--secondary-font);
}
#information  .contact .tel{
    padding:16px 0;
    max-width:320px;
}
#information  .contact .social-media {
    display: flex;
    gap:16px;
    margin-top:16px;
}
#information  .contact .social-media .icon{
    font-size:20px;
    color:var(--secondary-color);
    transition: 0.3s;
}
#information  .contact .social-media .icon:hover{ 
    color:var(--primary-color);
    transform: scale(1.5);
}
/* ========================= section plog styling ======================= */
#plog .articles .description{
    padding:20px;
}
#plog .articles h4{
    
    font-size: 20px;
    font-weight: 600;
    padding:20px 0 16px;
}
#plog .articles span{
    color:var(--secondary-color);
    font-family: var(--secondary-font);
}
#plog .articles p{
    max-width: 400px;
    padding-top:16px;
    color:var(--secondary-color);
    font-family:var(--secondary-font);
    font-size: 18px;
}
/* ========================= User-accsee styling ======================= */
#user-accsess .container{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
#user-accsess .container .login-steps ,
#user-accsess .container .register-steps{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding:30px;
    border:1px solid #EAEAEA;
    border-radius:20px;
    box-shadow: 3px 3px 8 #EAEAEA;
}
#user-accsess .container .login-steps {
    width:609px;
    max-width:100%;
}
#user-accsess .container .register-steps {
    width:585px;
    max-width:100%;
}
.login-steps h3,
.register-steps h3{
    font-size:32px;
    font-weight:600;
}
/* Form Styling */
.login-steps form input[type="text"] ,
.login-steps form input[type="password"] {
    width:549px;
    max-width:100%;
}
.register form input{
    width:525px;
    max-width:100%;
} 
form{
    display:flex;
    flex-direction: column;
    gap:20px;
}
form input[type="text"] ,
form input[type="email"] ,
form input[type="password"]{
    height:40px;
    border:1px solid #9D9D9D;
    border-radius:8px;
}
input::placeholder{
    padding:16px;
    font-size:18px;
}
.chekbox-groub label{
    font-family:var(--secondary-font);
}
.login-steps .login{
    width:549px;
    max-width: 100%;
}
.login-steps .register{
    width:552px;
    max-width: 100%;
}
.login-steps .login ,
.register-steps .register{
    height:48px;
    border:none;
    border-radius: 24px;
    color:#fff;
    background-color: var(--primary-color);
}
.login-steps .login:hover ,
.register-steps .register:hover{
    background-color:white;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
}
.login-steps .link{
    font-family:var(--secondary-font);
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.login-steps .link:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.register-steps .link{
    text-decoration: none;
    color: black;
}
.register-steps .link:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
/* ========================= Contact Section ========================== */
#contact .container  {
    display: flex;
    gap: 30px ;
}
#contact .container .left-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 410px ;
    gap:24px ;
}
#contact .container .left-content h1 {
    max-width: 410px;
    font-size: 36px;
    font-weight: 600;
}
#contact .container .left-content .des {
    max-width: 410px;
    color: var(--secondary-color);
    font-weight: 400;
}
#contact .container .left-content .contact{
    display: flex;
    gap:24px ;
}
#contact .container .left-content .contact .icon{
    background-color: #F5F5F5;
    width:56px ;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .container .left-content .contact .icon img{
    width:24px;
    height:24px ;
    transition: 0.3s;
}
#contact .container .left-content .contact .icon img:hover{
    transform: scale(1.5);
}
#contact .container .left-content .contact .info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#contact .container .left-content .contact .first-info{
    color: #555555;
    font-family:"Jost" , sans-serif;
}
#contact .container .left-content .contact .sec-info{
    color: #000000;
    font-weight: 600;
}
#contact .container .right-content {
    flex: 1;
    height: 390px;
}
#contact .container .right-content iframe{
    width:100% ;
    height: 100% ;
    border: none;
    border-radius: 20px;
}
#contactUs .title{
    display: flex;
    flex-direction: column;
    gap:20px ;
}
#contactUs .title h2{
    font-size: 32px;
    font-weight: 600;
}
#contactUs .title p{
    color: var(--secondary-color);
    font-weight: 400;
    font-family:var(--secondary-font) ;
    font-size: 18px;
}
#contactUs .container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#contactUs .container .contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#contactUs .container .contact-form .inputs{
    width: 100%;
    display: flex;
    gap: 20px;
}
#contactUs .container .contact-form .inputs input{
    height: 48px;
    width: 100%;
    color: #9D9D9D;
    border:  1px solid  #9D9D9D;
    border-radius: 8px;
    font-family: var(--secondary-font);
    font-size: 18px;
}
#contactUs .container .contact-form .text-area textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #9D9D9D;
    border-radius: 8px;
    padding: 12px;
    color: #9D9D9D;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-family: var(--secondary-font);
    resize: none;
}
#contactUs .container .save{
    margin: 20px 0;
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--secondary-color);
}
#contactUs .container .save label{
    max-width:300px ;
}
/* ========================= FAQs Section ========================== */
#FAQs .extra-container{
    display: flex;
    flex-direction: column;
    gap:50px ;
}
#FAQs .title h1{
    font-size: 32px;
    font-weight: 600;
}
#FAQs .container {
    display: flex;
    gap: 30px;
    flex: 1;
}
#FAQs .container .content-left ,
#FAQs .container .content-right {
    display: flex;
    flex-direction: column;
    gap:30px ;
    flex: 1;
}
#FAQs .container .text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px 30px ;
}
#FAQs .container .card{
    display: flex;
    flex-direction: column;
}
#FAQs .container .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px ;
    background-color:#F5F5F5 ;
}
#FAQs .container .card .card-text{
    display: flex;
    justify-content: space-between;
}
#FAQs .icon{
    color: #9D9D9D;
    font-size: 12px;
}
#FAQs .container .card .card-text p{
    color: var(--primary-color);
    margin-bottom:20px ;
}
#FAQs .container .card .des{
    color: var(--secondary-color);
    font-size: 18px ;
    font-family: var(--secondary-font);
}
#FAQs img{
    max-width:556px ;
}
/* Footer Styling */
footer{
    padding:20px;
    background-color: #F5F5F5 ;
}
footer p{
    max-width:452px;
    margin: 0 auto;
    color:var(--secondary-color);
}
/* ========================= Responsive ========================== */
@media(max-width:992px){
    /* Navbar Styling*/
    nav{ 
        padding: 0 20px;
    }
    nav ul, .list-left{
        display:none;
    }
    nav .bars{
        display:block;
    }
    .breadcrumb-bar {
        padding:0 20px;
    }
    /* Hero Styling*/
    .hero{
        height: auto;
        min-height: 400px;
        justify-content: center;
        align-items: center;
        text-align:center;
        padding:50px 20px;
        background-image: url(./../img/headerbg-res.png);
    }
    .hero .description{
        padding:0;
    }
    .section-padding{
        padding: 50px 20px;
    }
    .section-padding-extra {
        padding:140px 20px 20px;
    }
    /*Categories Styling*/
    #Categories .text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .desktopbtn{
        display: none !important;
    }
    #Categories .card ,
    #user-accsess .container{
        flex-direction: column;
        align-items: center;
    }
    .desktopbtn {
        display: none;
    }
    .mobilebtn {
        display: block;
        margin: 20px auto 0;
        width: 100%;
        max-width: 200px;
        text-align: center;
    }
    /*Featured-courses Styling*/
    #Featured-courses .text,
    #plog .text {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
    }
    #Featured-courses h3.main-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    }
    .search-menue {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
    .search-menue input {
    width: 220px;
    }
    #Featured-courses .box {
    grid-template-columns: 1fr;
    }
    /*navigation Styling*/
    .navigation {
    justify-content: center;
    padding-top: 30px;
    }
    /*LearnPress Styling*/
    #LearnPress {
    padding: 20px 0;
    flex-direction: column;
    }
    #LearnPress .container {
        background-image: url('./../img/learnprees.png');
        width: 100%;

    }
    #LearnPress .container .text {
        margin: 0 auto;
        text-align: center;
    }
    /* Addons Section Styling*/
    #addons .add-items ,
    #information{
        flex-direction: column;
    }
    /*skills Section Styling*/
        #skills .container{
        flex-direction:column-reverse;
    }
    #skills .left-conten img{
        max-width: 100%; 
    }
    /* Academy-lMS Section styling */
    .Academy-lMS{
        margin: 0 0;
        border-radius: 0;
    }
    .Academy-lMS .continer{
        padding: 74px 20px 74.18px;
        flex-direction: column;
        gap: 24px;
    }     
    .Academy-lMS .left-content,
    .Academy-lMS .right-content{
        flex-direction: column;
    }
    .Academy-lMS .left-content{
        gap: 16px;
    }
    .Academy-lMS .image{
        width: 80px;
        height: 80px;
    }  
    /* Information Section Styling*/
        #information .info-cont{
        flex-direction: column;
    }
    /* User-accsess  section*/
    #user-accsess .container .login-steps ,
    #user-accsess .container .register-steps {
    max-width:100%;
    }
    /* ========================= Contact Section ========================== */
    #contact .container  {
    flex-direction: column;
    gap: 10px;
    }
    #contact .container .left-content h1 {
        font-size: 32px ;
    }
    #contactUs .container .contact-form .inputs{
        flex-direction: column;
    }
    /* ========================= FAQs Section ========================== */
    #FAQs .container{
        flex-direction: column;
    }
}
/* Tablet / Medium screens */
@media (max-width: 1024px) {
    nav {
        padding: 0 30px;
    }

    nav ul {
        gap: 12px;
    }

    nav ul li a {
        padding: 22px 8px;
        font-size: 14px;
    }

    .list-left ul {
        gap: 8px;
    }
}


